* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
}

.headerBar{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  padding-bottom:10px;
  padding-top: 10px;
  gap: 11px;
  
}

.chefClaudeLogo>img{
  height: 50px;
}

.headerBar>h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

main{
  padding: 30px 30px 10px;
}

.add-ingredient-form{
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input{
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button{
  font-family: sans-serif;
  border-radius: 6px;
  border: none;
  background-color: black;
  color: white;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
  transition-duration: 0.4s;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.add-ingredient-form > button:hover{
  background-color:rgb(65, 65, 65);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.add-ingredient-form >button:active{
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: translateY(1px);
}

.get-recipe-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F0EFEB;
  padding-left: 10px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 10px;
  border-radius: 6px;
}

.get-recipe-container button{
  background-color: #D17557;
  color: #FAFAF8;;
  border: none;
  border-radius: 6px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition-duration: 0.4s;
}

.get-recipe-container button:hover{
  background-color: #3e8e41;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.get-recipe-container button:active{
  background-color: #F0EFEB;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 20px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  color: #6B7280;
}


.loader{
  border: 5px solid gray;
  border-top:5px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}